# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
pytest_cache/
.pytest_cache/

# Flask
instance/*
!instance/logs/
instance/logs/*.log.txt
instance/logs/*.log
!instance/logs/.gitkeep
!instance/logs/.gitignore

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project-specific
.env
.env.backup
build_reports/*
!build_reports/.gitkeep
!build_reports/.gitignore

# Logs
*.log
*.log.txt

# Keep template environment files
!.env.example
!.env.development
!.env.testing
!.env.production
!.env.db

# Template-specific
blazor/

# Tailwind
node_modules/
package-lock.json

# SQL directory with legacy data models
/sql/ 