USE [Taxsale2024]
GO
/****** Object:  Table [dbo].[vg_BidStatusTypes]    Script Date: 3/31/2025 3:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vg_BidStatusTypes](
	[BidStatusID] [int] NOT NULL,
	[Description] [char](30) NULL
) ON [PRIMARY]
GO
