USE [Taxsale2024]
GO
/****** Object:  Table [dbo].[WakullaCerts]    Script Date: 3/31/2025 3:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WakullaCerts](
	[Parcel] [varchar](50) NULL,
	[TaxYear] [varchar](50) NULL,
	[Cert] [varchar](50) NULL,
	[Seq] [varchar](50) NULL
) ON [PRIMARY]
GO
