USE [Taxsale2024]
GO
/****** Object:  Table [dbo].[vg_PropertyUseCodes]    Script Date: 3/31/2025 3:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vg_PropertyUseCodes](
	[PropertyCode] [char](10) NULL,
	[Description] [char](50) NULL
) ON [PRIMARY]
GO
