USE [Taxsale2024]
GO
/****** Object:  Table [dbo].[wausec]    Script Date: 3/31/2025 3:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wausec](
	[Column 0] [varchar](13) NULL,
	[Column 1] [varchar](12) NULL,
	[Column 2] [varchar](250) NULL
) ON [PRIMARY]
GO
