USE [Taxsale2024]
GO
/****** Object:  Table [dbo].[vg_SearchType]    Script Date: 3/31/2025 3:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vg_SearchType](
	[SearchTypeID] [int] IDENTITY(1,1) NOT NULL,
	[SearchType] [varchar](20) NULL,
	[Condition] [varchar](30) NULL,
	[sqlConditionValue] [varchar](10) NULL,
 CONSTRAINT [PK_SearchType] PRIMARY KEY CLUSTERED 
(
	[SearchTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
