USE [Taxsale2024]
GO
/****** Object:  Table [dbo].[vg_TaxCertificateFile40]    Script Date: 3/31/2025 3:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vg_TaxCertificateFile40](
	[CountyID] [varchar](2) NULL,
	[PropertyNo] [varchar](30) NULL,
	[RollType] [varchar](1) NULL,
	[TaxYear] [int] NULL,
	[Status] [varchar](2) NULL,
	[PaidStatus] [varchar](1) NULL,
	[TaxbillNo] [int] NULL,
	[Name] [varchar](30) NULL,
	[Addr1] [varchar](30) NULL,
	[Addr2] [varchar](30) NULL,
	[Addr3] [varchar](30) NULL,
	[City] [varchar](20) NULL,
	[State] [varchar](2) NULL,
	[Country] [varchar](20) NULL,
	[ZipCode] [varchar](9) NULL,
	[MortgagCoName] [varchar](30) NULL,
	[DistrictCode] [int] NULL,
	[LocZip] [varchar](9) NULL,
	[LocCity] [varchar](15) NULL,
	[LocStreet] [varchar](15) NULL,
	[LocHouseNr] [varchar](7) NULL,
	[DescriptionLine1] [varchar](30) NULL,
	[DescriptionLine2] [varchar](30) NULL,
	[DescriptionLine3] [varchar](30) NULL,
	[DescriptionLine4] [varchar](30) NULL,
	[DescriptionLine5] [varchar](30) NULL,
	[DescriptionLine6] [varchar](30) NULL,
	[UseCode] [varchar](6) NULL,
	[BookPage] [varchar](12) NULL,
	[Acres] [decimal](7, 2) NULL,
	[LandValue] [decimal](9, 0) NULL,
	[BldgValue] [decimal](9, 0) NULL,
	[XfobValue] [decimal](9, 0) NULL,
	[JustValue] [decimal](9, 0) NULL,
	[ClassValue] [decimal](9, 0) NULL,
	[AssessedValue] [decimal](9, 0) NULL,
	[ExempCode1] [varchar](2) NULL,
	[ExempCode2] [varchar](2) NULL,
	[ExempCode3] [varchar](2) NULL,
	[ExempCode4] [varchar](2) NULL,
	[ExempCode5] [varchar](2) NULL,
	[CoExemptVal] [varchar](9) NULL,
	[CoNetTaxVal] [varchar](9) NULL,
	[TotalAdvalorem] [decimal](10, 2) NULL,
	[TotalNonAdvalorem] [decimal](10, 2) NULL,
	[TotalDue] [decimal](10, 2) NULL,
	[TaxesAmount] [decimal](9, 2) NULL,
	[PenaltyIntAmount] [decimal](9, 2) NULL,
	[FeesAmount] [decimal](9, 2) NULL,
	[UnpaidBalance] [decimal](9, 2) NULL,
	[CertificateNo] [int] NULL,
	[CertificateType] [varchar](1) NULL,
	[BidderID] [int] NULL,
	[BidRate] [decimal](4, 2) NULL,
	[SaleDate] [varchar](8) NULL,
	[ProtestedQ] [char](1) NULL,
	[DelinqBill] [bit] NULL,
	[ExtractedDate] [varchar](8) NULL,
	[SequenceID] [int] NULL,
	[Homestead] [bit] NULL,
	[PriorDelinqYrs] [int] NULL
) ON [PRIMARY]
GO
